div.notecontainer {
  width: 27em;
  position: relative;
  background: transparent;
}

div.note {
  display: flex;
  flex-flow: column wrap;
  height: 20em;
  width: 20em;
  padding: 0.5em;
  box-shadow: 3px 3px 3px var(--color-neutral-70);
  margin-left: 3em;
  margin-top: 3em;
  transition: 0.15s linear;
  overflow: hidden;
  align-content: flex-start;
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.tertiary {
  background-color: var(--color-tertiary);
}

.quaternary {
  background-color: var(--color-quaternary);
}

.note:hover {
  box-shadow: 5px 5px 5px var(--color-neutral-70);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
  transition: 0.15s linear;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

h3.note {
  order: 1;
}

.dropDown {
  order: 2;
}

ul.note-infolist {
  order: 3;
  max-height: 85%;
  min-width: 19em;
}

li.note-infoitem {
  list-style: square;
  margin-left: 1.5em;
}

ul.note-listinfo > :last-child {
  margin-bottom: 1em;
}
